@import "tailwindcss";

@layer base {

    h1,
    h2,
    h3,
    span {
        font-family: 'Playfair Display', serif;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg-fake-fixed {
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateZ(0);
}


.card-hover:hover {
    animation: cardHover 0.3s ease-in-out forwards;
}

.animate-fadeInUp {
    animation: fadeInUp 0.8s ease-out forwards;
}

.delay-\[150ms\] {
    animation-delay: 150ms;
}

.delay-\[300ms\] {
    animation-delay: 300ms;
}

:root {
    padding-bottom: env(safe-area-inset-bottom);
}

/* global.css */

/* ... (tus estilos existentes) ... */

/* * CORRECCIÓN PARA IOS SAFARI (Reemplaza 100vh con 100dvh)
 * Esto sobreescribe la funcionalidad de la clase min-h-screen de Tailwind
 * cuando se usa en el <body>.
 */
@supports (min-height: 100dvh) {

    body,
    html,
    #root,
    .min-h-screen {
        /* Usa la unidad dinámica del viewport, que se ajusta a las barras de Safari */
        min-height: 100dvh;
    }
}

/* Fallback para navegadores antiguos que no soportan dvh */
.min-h-screen {
    min-height: 100vh;
}