<nav class="fixed top-0 left-0 w-full z-20 bg-transparent backdrop-blur-sm">
    <div class="max-w-6xl mx-auto px-6 py-3 flex items-center justify-between">
        <a
            href="/"
            class="font-bold text-xl text-[#79B743] drop-shadow-[0_0_10px_#79B743]"
            >Traspatio Mar & Grill</a
        >
        <ul class="flex gap-6 text-stone-700 font-medium">
            <li>
                <a href="/" class="hover:text-amber-600 transition">Inicio</a>
            </li>
            <li>
                <a href="/menu" class="hover:text-amber-600 transition">Menú</a>
            </li>
            <li>
                <a href="/nosotros" class="hover:text-amber-600 transition"
                    >Nosotros</a
                >
            </li>
        </ul>
    </div>
</nav>
